body{
    background-color: rgb(255, 255, 255);
}
.menu a{
    display: block;
    float: left;
    text-align: center;
    font-size: 1.2em;
    size: 100%;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: #2b2d72;
    padding: 10px 15px;
    margin: 0px 1px 1px 0px;
    border: 2px rgb(34, 36, 67);
    border-radius: 3px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0px 2px 3px gray;
    -moz-box-shadow: 0px 2px 3px gray;
    -webkit-box-shadow: 0px 2px 3px gray;
}
.menu a:hover{
    color: #2b2d72;
    background-color: #ffffff;
    border: 2px rgb(44, 53, 228);
}
.plywtekst{
color: #2b2d72;
}
h1{
    text-align: center;
    font-style: normal;
    color: rgb(0, 0, 0);
    font-size:3em;
    text-shadow:1px 2px 3px .2b2d72;
}
input[type=text],input[type=password],input[type=number]{
    width: 230px;
    height: 30px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-color: #2f36ff;
    border-bottom-color: #2b2d72;
}

.left{
    text-align:left;
    margin-right: 1200px;
}
.right{
    text-align:left;
    margin-right: 1200px;
} 
.footer{
    text-align: left;
}
.logo{
    width: 15%;
    height: 5%;
}
.logo2{
    width: 35%;
    height: 15%;
}
.button{
    background-color: #2b2d72;
        color: white;
       
    transition-duration: 0.4s;
    border-radius: 15px;
    width: 175px;
    height: 25px;
      }
      
      .button:hover {
        background-color: #ffffff ;
       color:#2b2d72;
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
      
}
#title{
    size: 75%;
    text-align: center;
}
#dateParagraph{
    
    font-size: 60%;
    
}
#lokal{
    font-size: 25%;
}